body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu-toggle {
    display: none;
}

.cart {
    padding: 50px 0;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cart h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
    flex: 2; /* Aumentar a flexibilidade do nome do produto */
}

.cart-item p {
    margin: 0;
    color: #666;
    font-size: 16px;
    flex: 1; /* Ajustar a flexibilidade da categoria */
    text-align: center; /* Centralizar texto da categoria */
}

.cart-item .quantity {
    width: 60px;
    text-align: center;
}

.cart-item .quantity-wrapper {
    flex: 1; /* Ajustar a flexibilidade da quantidade */
    text-align: center; /* Centralizar texto da quantidade */
}

.cart-item button {
    padding: 5px 10px;
    background: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.cart-item button:hover {
    background: #d32f2f;
}

button#confirmOrderBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
}

button#confirmOrderBtn:hover {
    background: #388E3C;
}
